.sidebar {
    background-color: white;
    position: fixed;
    width: 70px;
    top: 60px;
    left: 0px;
    /* right: 50px; */
    bottom: 0px;
}

.sidebar-icons {
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.sidebar-icons:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.sidebar-icons img {
    height: 24px;
    margin-bottom: 8px;
}

.sidebar-icons p {
    font-size: 10px;
    font-family: Roboto, arial;
}